<div>
  <canvas id="webgl-canvas" style="border: none;" width="1000" height="1000"></canvas>
</div>
<script type="text/javascript" src="/javascripts/cube.js"></script>
<script type="text/javascript" src="/javascripts/five.js"></script>
<script type="text/javascript">
  loadWebGL();
</script>


