<div>
  <canvas id="four-canvas" style="border: none;" width="500" height="500"></canvas>
</div>
<script type="text/javascript" src="/javascripts/cube.js"></script>
<script type="text/javascript" src="/javascripts/pyramid.js"></script>
<script type="text/javascript" src="/javascripts/four.js"></script>
<script type="text/javascript">
  loadWebGL();
</script>

