<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/glMatrix-0.9.5.min.js"></script>
    <script type="text/javascript" src="/javascripts/webgl-utils.js"></script>
    <script type="text/javascript" src="/javascripts/core.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
