<div>
  <canvas id="webgl-canvas" style="border: none;" width="750" height="750"></canvas>
</div>
<script type="text/javascript" src="/javascripts/baseball.js"></script>
<script type="text/javascript" src="/javascripts/homeplate.js"></script>
<script type="text/javascript" src="/javascripts/pitch.js"></script>
<script type="text/javascript">
  loadWebGL();
</script>

